.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}
table{
    border: 1px solid rgb(36, 165, 212);
}
table td{
    padding:0.5em 2em;
}
table th{
    background: rgb(36, 165, 212);
    padding: 0.7em 1em;
    color:white;
}
.quote{
    border:1px solid rgb(148, 145, 145);
    padding: 1em 2em;
    margin: 1em auto;
}
.quote blockquote{
    margin:0;
    font-size:1.2em;
}
.quote p{
    color:rgb(120, 119, 119);
}
.leaders .item{
    margin: 1em 0;
}
.leaders .media .media-left{
    padding:1.2em;
}
.leaders .media .media-body{
    padding:0 1.2em;
} 